header{
	height: 60px;
	width: 100%;
	z-index: 10;
	position: fixed;
  opacity: .8;
}
.banner{
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: .8;
}
#banner{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	background: url(../Images/banner.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 10px;
	font-size: 100%;
	text-shadow: 20px black;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.formHat{
  height: 30px;
  position: absolute;
  top: -33px;
  left: 0px;
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 110%;
  background-color: #8c8c8c;
  padding: 7px;
  border-radius: 8px 8px 0px 0px;
  z-index: -10;
  display: block;
}
#formHatAnimation{
  animation: handSlide 1.9s 1;
}
@keyframes handSlide{
  0%{
    transform: translate3d(0px, -5000px, 0px);
  }
  100%{
    transform: translate3d(0px, 0%, 0px);
  }
}
/*#handSlideAnimation{
  animation: handSlide 2s 1000;
  position: relative;
  top: -40px;
  color: white;
}

@keyframes handSlide{
  0%{
    transform: translate3d(0px, 0%, 0px);
  }
  50%{
    transform: translate3d(0px, 10px, 0px);
  }
  100%{
    transfor: translate3d(0px, 0%, 0px);
  }
}*/
/* Form CSS */
#frontSide{
  z-index: 1000;
}
form{
  z-index: 1000;
}
.form{
  transform-style: preserve-3d;
    -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  animation-duration: 2s;
}
.formFlipAgain{
  transform-style: preserve-3d;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  animation-duration: 2s;
}

#flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: space-between;
}
.formTitle {
  border-bottom: solid #b30000;
}
.form-style-5 {
  position: relative;
  top: 60px;
  max-width: 60%;
  max-height: 82vh;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  border-radius: 8px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#form-style-5-Animation{
  animation: slide 2s 1;
}
@keyframes slide{
  0%{
    transform: translate3d(0px, 500%, 0px);
  }
  100%{
    transform: translate3d(0px, 0%, 0px);
  }
}
.form-style-5:after {
  opacity: 1;
}
.form-style-5 fieldset {
  border: none;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  font-size: 1.3em;
  display: block;
  margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="location"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding-left: 2%;
  height: 6%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 3%;
}
.form-style-5 textarea{
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;           
  outline: 0;
  padding-left: 2%;
  height: 12%;                          /*Changing height for task textarea*/
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 3%;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="location"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
  background: #d2d9dd;
}
.form-style-5 select {
  -webkit-appearance: menulist-button;
  height: 35px;
}
.form-style-5 .number {
  background: #b30000;
  color: #FCFBE3;
  height: 25px;
  width: 25px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 25px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 0px 15px 15px 15px;
  margin-bottom: 3%;
}
#number{
  float: left;
  margin-bottom: 1.8vh;
  margin-left: .07vw;
}
.form-style-5 input[type="submit"],
.form-style-5 input[type="button"] {
  position: relative;
  display: block;
  padding: 10px 39px 10px 39px;
  color: #FCFBE3;
  margin: 0 auto;
  background: #b30000;
  font-size: 22px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #b30000;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  box-shadow: 0 5px 0 #800000;
  border-radius: 4px;
}
.form-style-5 input[type="backButton"] {
  position: relative;
  display: block;
  padding: 10px 39px 10px 39px;
  color: #b30000;
  margin: 0 auto;
  background: red;
  font-size: 22px;
  text-align: center;
  font-style: normal;
  width: 140px;
  border: 1px solid #800000;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  box-shadow: 0 5px 0 #990000;
  border-radius: 4px;
}
.form-style-5 input[type="submit"]:active,
.form-style-5 input[type="button"]:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #990000;
}
.form-style-5 input[type="submit"]:focus,
.form-style-5 input[type="button"]:focus {
  outline:0;
}
.next{
  -webkit-transition-duration: .01s;
  -moz-transition-duration: .01s;
  -o-transition-duration: .01s;
  transition-duration: .01s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
#backSide{
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}

#backButton{
  background: white;
  color: #b30000;
  box-shadow: 0 3px 0 #b30000;
  border-radius: 4px;
  border-color: #b30000;
  position: absolute;
  float: left;
  left: 15px;
  top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 90px;
  height: 27px;
  font-size: 105%;
  outline: 0;
}
#backButton:active{
  box-shadow: 0 0px 0 #990000;
}
#name,
#contact,
#location,
#misc,
#job {
  height: 5%;
}